:root{
    --text: #050315;
    --background: #fbfbfe;
    --primary: #c8bdab;
    --secondary: #363636;
    --accent: #9b9b9b;

    --displayMobile: none;
    --displayDesktop: flex;
}

@media screen and (max-width: 768px) {
    :root {
        --displayMobile: flex;
        --displayDesktop: none;
    }
    
}

h1{
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 24px 64px;
    z-index: 1000;
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

nav ul a{
    text-decoration: none;
    color: var(--secondary);
}

nav ul a:hover {
    color: var(--accent);
}

nav li {
    margin: 0;  
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    color: white;
}

.sidebar-beige{
    background-color: var(--primary);
    width: 100%;
    height: 100px;
}
.sidebar-black{
    background-color: var(--secondary);
    width: 100%;
    height: 35%;
}
.sidebar-grey{
    background-color: var(--accent);
    width: 100%;
    height: 55%;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 590px;
    background-color: var(--secondary);
    color: var(--primary);
    min-width: 800px;
    flex-wrap: wrap;
    padding-left: 70px;
    margin-top: 100px;
}

.hero-image{
    height: auto;
}

.hero-image img{
    width: 550px;
    height: auto;
}

.hero-text{
    max-width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 360px;
}

.hero-text p{
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent);
    color: var(--secondary);
    padding: 20px;
    padding-right: 5px;
    height: 100%;
    width: calc(100% - 25px);
}

.contact-form input{
    background-color: var(--accent);
    border: none;
    border-bottom: 1px solid var(--secondary);
}

.contact-form input:focus {
    outline: none;
    border-bottom: 1px solid var(--primary);
    /* Transition for smooth focus effect */
    transition: border-bottom 0.3s ease;

    /* Transition out for smooth effect */

}

.contact-form textarea {
    background-color: var(--accent);
    border: none;
    border-bottom: 1px solid var(--secondary);
}

.contact-form textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--primary);
    /* Transition for smooth focus effect */
    transition: border-bottom 0.3s ease;
}

.contact-form button{
    background-color: transparent;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.contact-form form{
    border-left: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--accent);
    transition: box-shadow 0.3s ease;
}